{% load staticfiles i18n compress sensors %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Sensor Portal{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {% block css %}
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    {% compress css %}
      <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endcompress %}
  {% endblock %}
</head>

<body>

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{% url 'home' %}">Urban Air Sensors</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sensor-list' %}">Sensors</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
    {% endfor %}
  {% endif %}

  {% block content %}
    <div class="mt-3">
      <h1>Under Construction</h1>
    </div>
    <p class="lead">This website is currently under construction</p>
  {% endblock content %}
</div>

<footer class="footer">
  <div class="container">
    <span class="text-muted">Site under construction. Developed by <a
        href="https://cyberbyte.org.uk">Cyberbyte Studios</a>.</span>
  </div>
</footer>

{% block modal %}{% endblock modal %}

{% block javascript %}
  {% compress js %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/tether.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/raven.js' %}"></script>
    <script src="{% static 'js/project.js' %}"></script>
  {% endcompress %}
  <script>
      {% error_reporting %}
      {% block script %}{% endblock script %}
  </script>
{% endblock javascript %}
</body>
</html>

