{% extends "base.html" %}

{% block title %}Sensor Map{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Sensor Map</h2>
        </div>
    </div>
    <div class="row">
        {{ map_chart|safe }}
    </div>


</div>

{% endblock content %}

{% block css %}
{{ block.super }}
<link href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.3.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.3.min.js"></script>
{{ map_js|safe }}
{% endblock %}
